*.pyc
.idea

*.npz
*.png
.DS_Store
**/debug_data/**
**TrafficTransformer**
**wandb**
**out**
**/exps/**
*.pt
*cache*

/traffic_generator/ckpt/
/trafficgen/lightning_logs/
/trafficgen/traffic_generator/ckpt/
/trafficgen/init/sample_data/
/trafficgen/act/sample_data/
