git remote add origin git@github.com:metadriverse/trafficgen.git/results/
*.pyc

.idea

*.npz
*.png
.DS_Store
**/debug_data/**
**TrafficTransformer**
**wandb**
**out**
**/exps/**
*.pt

/traffic_generator/ckpt/
/trafficgen/lightning_logs/
/trafficgen/traffic_generator/ckpt/
