git remote add origin git@github.com:metadriverse/trafficgen.git/results/
*.pyc

.idea

*.npz
*.png

**/debug_data/**
**TrafficTransformer**
**wandb**
**out**
**/exps/**
*.pt
/TrafficFormerV2/data/
/TrafficFormerV2/_debug_data/
/TrafficFormerV2/vis/
/TrafficFormerV2/heatmap/
/TrafficFormerDynamic/gifs/